In [2]:
import h5py
import numpy as np
import pandas as pd
import geopandas as gpd
import seaborn as sbn
import datetime as dt
import matplotlib.pyplot as plt
from tqdm.notebook import  tqdm, trange

In [3]:
pts = gpd.read_file('../../CIAT/data/BEM_2019_Chiapas_Final_Clean.gpkg')
pts['SIM'] = ['CH{0:05d}'.format(i + 1) for i in range(len(pts))]
pts = pts.set_index('SIM')
pts['ref_date'] = pd.to_datetime(pts.fecha_de_siembra)
SIM = pts.index

In [15]:
wl = []
whl = {}
for i, key in enumerate(tqdm(SIM)):
    wfile = f'/home/rodrigo7/Apsim_test/MASAGRO/PCSE/{key}_npf.csv'
    w = pd.read_csv(wfile, skiprows=13)
    w.DAY = pd.to_datetime(w.DAY, format= '%Y%m%d').dt.date
    w['SIM'] = key
    wl.append(w)
    
    wh = []
    with open(wfile) as f:
        for r in range(14):
            wh.append(f.readline())
            
    whl[key] = wh

HBox(children=(FloatProgress(value=0.0, max=4594.0), HTML(value='')))

In [16]:
wdf = pd.concat(wl)

In [18]:
wdf

,DAY,IRRAD,TMIN,TMAX,VAP,WIND,RAIN,SNOWDEPTH,SIM
0,1983-07-01,17860.0,21.43,31.21,2.473,0.70,1.59,NaN,CH00001
1,1983-07-02,26030.0,22.04,30.51,2.476,1.31,14.40,NaN,CH00001
2,1983-07-03,15550.0,21.91,29.78,2.490,0.66,7.68,NaN,CH00001
3,1983-07-04,21350.0,21.38,26.80,2.536,1.57,2.21,NaN,CH00001
4,1983-07-05,17530.0,21.73,28.04,2.533,1.75,0.71,NaN,CH00001
...,...,...,...,...,...,...,...,...,...
13387,2020-02-24,22970.0,14.05,29.80,1.851,0.81,0.02,NaN,CH04594
13388,2020-02-25,22560.0,15.84,30.13,2.032,0.71,0.40,NaN,CH04594
13389,2020-02-26,19320.0,15.52,27.50,1.987,1.57,23.62,NaN,CH04594
13390,2020-02-27,7010.0,13.38,16.66,1.512,2.03,17.26,NaN,CH04594
13391,2020-02-28,10490.0,12.79,19.67,1.564,1.81,8.08,NaN,CH04594

In [19]:
import sqlite3

con = sqlite3.connect("../data/db.sqlite")

# Write the new DataFrame to a new SQLite table
wdf.to_sql("NasaPower", con, if_exists="replace")

con.close()

In [10]:
wh

['## Site Characteristics\n',
 "Country     = 'Mexico'\n",
 "Station     = 'CH00001'\n",
 "Description = 'MASAGRO'\n",
 "Source      = 'Daymet'\n",
 "Contact     = 'Rodrigo'\n",
 'Longitude   = -93.651686\n',
 'Latitude    = 16.561522\n',
 'Elevation   = 631.95\n',
 'AngstromA   = 0.29\n',
 'AngstromB   = 0.49\n',
 'HasSunshine = False\n',
 '## Daily weather observations\n',
 'DAY,IRRAD,TMIN,TMAX,VAP,WIND,RAIN,SNOWDEPTH\n']